<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Utilizadores</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
              <li class="breadcrumb-item active">Utilizadores</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6" *ngxPermissionsOnly="['CREATE_USER']">
            <button type="button" class="btn btn-success" (click)="onClickMe()" *ngIf="!showAddUser"><i
                class="mdi mdi-plus-outline mdi-18px"></i> Adicionar
                utilizador</button>
            <button type="button" class="btn btn-secondary" (click)="onClickMe()" *ngIf="showAddUser"><i
                class="mdi mdi-18px mdi-close-outline fs-19"></i>Cancelar</button>
          </div>
          <div class="col-sm-6">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input type="text" class="form-control" placeholder="Search&hellip;" [(ngModel)]="searchText">
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <app-add-user *ngIf="showAddUser"></app-add-user>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Utilizadores</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
              title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
            <thead>
              <tr>
                <th style="width: 1%">
                  #
                </th>
                <th style="width: 1%">

                </th>
                <th style="width: 20%">
                  Name
                </th>
                <th style="width: 30%">
                  Email
                </th>
                <th>
                  Roles
                </th>
                <th style="width: 20%" class="text-center">
                  Status
                </th>
                <th style="width: 10%">
                  Ações
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of users | filter:searchText | slice: (page-1) * pageSize : page * pageSize; let index = index">
                <td>
                  {{ (page -1) * pageSize + index + 1 }}
                </td>
                <td>
                  <ul class="list-inline">
                    <li class="list-inline-item" *ngIf="user.image; else elseBlock">
                      <img alt="Avatar" class="table-avatar" style="height: 2.5rem"
                        src="{{ avatarBaseUrl }}{{ user.image.path }}">
                    </li>
                    <ng-template #elseBlock>
                      <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar"
                          src="{{ avatarApiUrl }}{{ user.firstname }}+{{ user.lastname }}">
                      </li>
                    </ng-template>

                  </ul>

                </td>
                <td>
                  <a>
                    {{user.firstname}} {{user.lastname}}
                  </a>
                  <br />
                  <small>
                    {{user.createdAt}}
                  </small>
                </td>
                <td>
                  {{user.email}}
                </td>
                <td class="project_progress">
                  <span class="badge badge-success" *ngFor="let n of numeroRoles , let i = index;"
                    style="margin-right: 5px;">{{user.roles[i]?.name}}</span>
                </td>
                <td class="project-state" *ngIf="user.ative; else elseBlockStatus">
                  <span class="status text-success">&bull;</span>
                  Ativo
                </td>
                <ng-template #elseBlockStatus>
                  <td class="project-state">
                    <span class="status text-danger">&bull;</span>
                    Inativo
                  </td>
                </ng-template>

                <td>
                  <a class="view" title="View" data-toggle="tooltip" [ngClass]="{ 'desabledButtonForOtherUser': desabledButtonForOtherUser(user.email, user.id)}"><i class="material-icons">&#xE417;</i></a>
                  <a class="edit" title="Reset password" data-toggle="tooltip"*ngxPermissionsOnly="['UPDATE_USER']" (click)="openResetPasswordDialog(user.id, index)" [ngClass]="{ 'desabledButtonForOtherUser': desabledButtonForOtherUser(user.email, user.id), 'disabled': desabledResetButtonForOtherUser()}" ><i class="material-icons">&#xE254;</i></a>
                  <a class="delete" title="Delete" data-toggle="tooltip" *ngxPermissionsOnly="['DELETE_USER']"
                    (click)="openConfirmationDialog(user.id)" [ngClass]="{ 'disabled': isSuperadmin(user.id), 'desabledMyuser': desabledButtonForMyUser(user.email)}"><i class="material-icons">&#xE872;</i></a>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="users.length > 5" style="margin-top: 10px;" class="d-flex justify-content-end pagination-rounded-flat">
            <span class="space-right" style="margin-top: 5px;">Itens por pagina</span>
            <select class="custom-select" style="width: auto; margin-right: 5px; margin-left: 5px;" [(ngModel)]="pageSize" (ngModelChange)="getPremiumData();">
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="15">15</option>
              <option [ngValue]="20">20</option>
              <option [ngValue]="25">25</option>
            </select>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
              [pageSize]="pageSize" class="d-flex justify-content-end pagination-rounded-flat pagination-success">
            </ngb-pagination>
          </div>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
