<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>clientes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
            <li class="breadcrumb-item active">Cliente</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6" *ngxPermissionsOnly="['CREATE_CLIENT']">
          <button type="button" class="btn btn-success" (click)="onClickMe()"><i
              class="mdi mdi-plus-outline mdi-18px"></i> Adicionar 
            cliente</button>
        </div>
        <div class="col-sm-6">
          <div class="search-box">
            <i class="material-icons">&#xE8B6;</i>
            <input type="text" class="form-control" placeholder="Search&hellip;" [(ngModel)]="searchText">
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Clientes</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th style="width: 1%">
                #
              </th>
              <th style="width: 20%">
                Nome
              </th>
              <th style="width: 20%">
                Email
              </th>
              <th style="width: 10%">
                Código cartão
              </th>
              <th>
                Morada
              </th>
              <th style="width: 15%" class="text-center">
                Status
              </th>
              <th style="width: 10%">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let client of clients | filter:searchText | slice: (page-1) * pageSize : page * pageSize; let index = index">

              <td>
                <ul class="list-inline">
                  <li class="list-inline-item" *ngIf="client.image; else elseBlock">
                    <img alt="Avatar" class="table-avatar" style="height: 2.5rem"
                      src="{{ avatarBaseUrl }}{{ client.image.path }}">
                  </li>
                  <ng-template #elseBlock>
                    <li class="list-inline-item">
                      <img alt="Avatar" class="table-avatar" src="{{ avatarApiUrl }}{{ client.fullName }}">
                    </li>
                  </ng-template>
                </ul>
              </td>
              <td>
                <a>
                  {{client.fullName}}
                </a>
                <br />
                <small style="margin-left: 7px; font-size: 10px">
                  cliente desde: {{ client.createdAt | date: 'medium' | date: 'dd/MM/yyyy' }}
                </small>
              </td>
              <td>
                {{client.email}}
              </td>              
              <td>
                {{client.cardCode}}
              </td>
              <td>
                {{client.address}}
              </td>
              <td class="project-state" *ngIf="client.ative; else elseBlockStatus">
                <span class="status text-success">&bull;</span>
                Ativo
                <br />
                <small style="margin-left: 7px; font-size: 10px">
                  última mensalidade: {{ client.monthlyPaymentDate | date: 'medium' | date: 'dd/MM/yyyy' }}
                </small>
              </td>
              <ng-template #elseBlockStatus>
                <td class="project-state">
                  <span class="status text-danger">&bull;</span>
                  Inativo
                  <br />
                <small style="margin-left: 7px; font-size: 10px">
                  última mensalidade: {{ client.monthlyPaymentDate | date: 'medium' | date: 'dd/MM/yyyy' }}
                </small>
                </td>
              </ng-template>
              <td>
                <a class="view" title="View" data-toggle="tooltip" [routerLink]="['/home/client']" *ngxPermissionsOnly="['READ_CLIENT']"
                  [queryParams]="{cardCode:client.cardCode}"><i class="material-icons">&#xE417;</i></a>
                <a class="edit" title="Edit" data-toggle="tooltip" *ngxPermissionsOnly="['UPDATE_CLIENT']" (click)="openEditDialog(client.id)"><i
                    class="material-icons">&#xE254;</i></a>
                <a class="delete" title="Delete" data-toggle="tooltip" *ngxPermissionsOnly="['DELETE_CLIENT']"
                  (click)="openConfirmationDialog(client.id, index)"><i class="material-icons">&#xE872;</i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="clients.length > 5" style="margin-top: 10px;" class="d-flex justify-content-end pagination-rounded-flat">
          <span class="space-right" style="margin-top: 5px;">Itens por pagina</span>
          <select class="custom-select" style="width: auto; margin-right: 5px; margin-left: 5px;" [(ngModel)]="pageSize" (ngModelChange)="getPremiumData();">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="25">25</option>
          </select> 
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
            [pageSize]="pageSize" class="d-flex justify-content-end pagination-rounded-flat pagination-success">
          </ngb-pagination>
        </div>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
