<div class="modal-header">
    <h4 class="modal-title">Redefinir Palavra-passe</h4>
    <button type="button" class="close" aria-label="Fechar" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form  role="formChangePwd" [formGroup]="formChangePwd" novalidate>
        <div class="form-group">
            <label for="newPassword">Nova Palavra-passe</label>
            <input type="password" formControlName="newPwd" id="newPassword" class="form-control" [(ngModel)]="newPassword" name="newPassword" (input)="checkPasswords()" placeholder="Novo password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmar Palavra-passe</label>
            <input type="password" formControlName="confirmPwd" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="checkPasswords()" placeholder="Confirma Password" required>
        </div>
        <div *ngIf="passwordsMismatch" class="text-danger">
            As palavras-passe não coincidem.
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
    <button type="submit" class="btn btn-primary" (click)="resetPassword(id)" [disabled]="passwordsMismatch || !newPassword || !confirmPassword">Ok</button>
</div>
